
# OSX
.DS_Store

# Custom ignore starts here

.build
.dist
.tmp
node_modules

# Built asset files
assets/built/*
server/web/admin/views/*.html
server/public/ghost.min.css
assets/screenshot-desktop.jpg
