body,  
h1, h2, h3, h4, h5, h6,  
.main-nav a,
.subscribe-button,
.page-title,
.post-meta,
.read-next-story .post:before,
.pagination {
  font-family: 'Public Sans', sans-serif;
  font-family: 'Public Sans', serif;

}

/* This is necessary to not mess up share icons at bottom of posts */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "casper-icons", "Open Sans", sans-serif;
}


.content-container > p,
.post-content-body > p {
  font-size: 17px;
  width: 56ch;
  line-height: 1.2;
}

@media (max-width: 760px) {
  .content-container > p,
  .post-content-body > p {
    margin-right: 2ch;
    width: unset;
  }
}

.post-content-body blockquote p {
  line-height: 1.1;
}

.post-content-body cite {
  font-style: italic;
}

.content-container h3 {
  margin-top: 1.75em;
  margin-bottom: 0.5em;
}

@media (max-width: 760px) {
  .content-container h3 {
    margin-top: 3em;
  }
}
