

.site-footer {
  padding-top: 8vh;
  padding-bottom: 4vh;

  p {
    margin-bottom: 0.5em;
  }

  a {
    font-weight: 700;
    opacity: 0.9;
  }
}

.site-footer .published-by-tag {
  font-size: 0.8em;
  opacity: 0.8;
  margin-top: 2em;
}
