body,  
h1, h2, h3, h4, h5, h6,  
.main-nav a,
.subscribe-button,
.page-title,
.post-meta,
.read-next-story .post:before,
.pagination,
.site-footer {
  font-family: 'Public Sans', sans-serif;
  font-family: 'Public Sans', serif;

}

/* This is necessary to not mess up share icons at bottom of posts */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "casper-icons", "Open Sans", sans-serif;
}

.splash-image {
  margin-top: -22vw;
  margin-bottom: -2vw;
  overflow-y: hidden;
  max-width: 100vw;
}

.with-image h1.post-content-title {
  margin-top: 3vw;
  line-height: 1.2;
}

@media (max-width: 1000px) {
  .splash-image {
    margin-top: -8vw;
  }
}

@media (max-width: 1300px) {
  .splash-image {
    margin-bottom: 0;
  }

  .with-image h1.post-content-title {
    margin-top: 0.25em;
  }
}

.post-content > p, 
.post-content-body > p {
  font-size: 1.1em;
}


.post-content > p:first-of-type, 
.post-content-body > p:first-of-type {
  font-size: 1.5em;
}

.post-content h3 {
  margin-top: 1.75em;
  margin-bottom: 0.5em;
}
