

footer.content-container {
  padding-top: 10vw;
  padding-bottom: 4vh;
  width: 75ch;
  max-width: 100%;
}

footer.content-container > p:first-of-type,
footer.content-container > p {
  max-width: unset;
  width: unset;
  font-size: 0.9em;
  font-variant: small-caps;
  opacity: 0.8;
}
