
.post-card {
  position: relative;
  display: flex;
  position: relative;
  margin-bottom: 3rem;
  counter-increment: posts;
}

.post-card:first-of-type {
  margin-top: 2rem;
}

.post-card a {
  color: var(--color-base);
}

.post-card-link {
  display: block;
}

.post-card-content {
  display: grid;
  grid-template-columns: 110px 1fr;
  justify-content: center;
  opacity: 1;
}

.post-card-date {
  padding-right: 2ch;
}

.post-card-title {
  margin: 0;
  display: inline-block;
  font-size: 2rem;
  transition: all 0.3s cubic-bezier(.33,0,.2,1);
  padding-right: 1ch;
}

.post-card-link .post-card-content:hover .post-card-title {
  text-decoration: underline;
}
