/* Custom CSS for home page */

.home-template .content-container p {
  max-width: 60ch;
  width: unset;
}

.home-template .post-content-body > p:first-of-type {
  font-size: 1.5em;
  width: 100%;

  @media (min-width: var(--medium)) {
    width: 48ch;
  }
}

.home-template .post-content-body a {
  text-decoration: underline;
}
