{{!< default}}

<main id="site-main" class="site-main outer">
    <!-- from post.hbs -->
    <div class="inner">
        {{#page}}
        <article class="post-full {{post_class}} no-image">

            <section class="post-full-content">
                <div class="post-content">
                    <header class="post-content-header">
                      <h1 class="post-content-title">{{title}}</h1>
                    </header>
                    {{content}}
                </div>
            </section>

        </article>
        {{/page}}
    </div>
    
    <!-- get the list of posts -->
    {{#get "posts"}}
    <div class="inner posts">
        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>
    </div>
    {{/get}}
</main>

  {{!-- <footer class="post-content-footer"> --}}

        {{!-- There are two options for how we display the byline/author-in$
        If the post has more than one author, we load a specific template
        from includes/byline-multiple.hbs, otherwise, we just use the
        default byline. --}}


   {{!--  </footer> --}}


